{%extends "base.html"%}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="container mt-5">
<form class="col-6 mx-auto card p-3 shadow-1g" method = "post" enctype="multipart/form-data">
  {% csrf_token %}
  <h2>Login</h2>
    <hr>

  <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">email</label>
  <input type="email" class="form-control" id="formGroupExampleInput" placeholder="email" name="email">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Password</label>
  <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password" name="password">
</div>
<p>don't have an account? <a href="{% url 'register' %}">Register here</a></p>
<button type="submit" class="btn btn-success">Login</button>
</form>
</div>
{% endblock %}